h1{
    text-align: center;
    color: brown;
}

input{
margin-left:4rem;
width: 90%;
margin-right:3rem;
border: 2px solid green;
padding: 5px;


}

p{
    text-align: start;
padding: 15px;
margin-left:4rem;
margin-right:3rem;
    background-color: beige;
    
    
}